.managerdashboard-container {
    display: flex;
    flex-direction: row;
  }
  
  .managerdashboard-content {
    margin-top: 70px;
    margin-left: 266px;
    padding: 20px;
    width: calc(96% - 237px);
    transition: margin-left 0.3s ease, width 0.3s ease;
  }
  
  .managerdashboard-content.collapsed {
    margin-left: 50px;
    width: calc(100% - 50px);
  }
  
  /* Card Style */
  .managerdashboard-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Card shadow */
  }
  
 
  

  
  
 
  @media (max-width: 767px) {
    .managerdashboard-container {
        flex-direction: column;
    }
  
    .managerdashboard-content {
        margin-left: 0;
        width: 100%;
    }
  
    .managerdashboard-content.collapsed {
        margin-left: 0;
        width: 100%;
    }
  }
  